/* font from google fonts  */

/* color var */
:root {
    --black: #272d3b;
    --red: #ed176f;
    --coral: #f7817f;
    --gradient: linear-gradient(90deg, var(--red), var(--coral));
}

html {
    scroll-behavior: smooth;
    font-size: 70%;
}
body{
    font-family: 'Nunito', sans-serif;
    height: 2000px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all .1s;
    outline: none;
    border: none;
    text-transform: capitalize;
}
*::selection {
    color: white;
    background-color: var(--red);
}

header {
    background: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
}
.line{
    width: 0%;
    position: absolute;
    background: var(--coral);
    height: 3px;
    left: 0;
    right: 0;
    top: 0;
}
header a {
    color: white;
}

header nav a:hover {
    color: var(--coral);
}
header>a {
    font-size: 29px;
    color: white;
}
header>a::first-letter {
    color: var(--coral);
    font-size: 30px;
}

nav {
    display: flex;
    gap: 2rem;
    font-size: 20px;
    align-items: center;
}
#menu-bar {
    display: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
/* styling section */

/* medai queryies */
@media (max-width:991px) {

    header {
        padding: 1.5rem 2rem;
    }
}

@media (max-width:768px) {
    html {
        font-size: 70%;
    }
    #menu-bar {
        display: flex;
        align-items: center;
    }
    header {
        margin-bottom: 3rem;
    }
    header nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: var(--black);
        padding: 2rem 5rem;
        display: block;
        border-top: 1px solid #3b3b3b;
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    header nav.nav-path {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }

    header nav a {
        padding: 1rem;
        text-align: center;
        background: var(--gradient);
        border-radius: 5px;
        margin: 1rem 0;
        display: block;
    }

    header nav a:hover {
        color: var(--black);
    }

    .fa-times {
        rotate: 180deg;
    }
    
}