@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  font-family: "Tajawal", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #030303;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.home-image {
  z-index: -1;
  /* Adjust the gradient stops as needed */
  mask-image: linear-gradient(180deg, white 60%, transparent 100%);
}
/* body::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
} */
/* .section::-webkit-scrollbar {
  width: 0.5em;
}

.section::-webkit-scrollbar-track {
  border-radius: 50px;
}

.section::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
  border-radius: 50px;
} */
