:root {
  --main_color: rgb(46, 104, 178);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 22px;
}
html {
  scroll-behavior: smooth;
  background-color: var(--main_color);
}
body {
  font-family: "Tilt Neon", cursive;
  font-weight: 600;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.box {
  width: 400px;
  height: 400px;
  background-color: #212121;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.logo {
  margin: auto;
  padding-top: 70px;
  color: rgb(2, 233, 2);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.text {
  font-weight: bold;
  color: rgb(155, 155, 155);
  padding-top: 40px;
  text-align: center;
}
.backhome {
  padding-top: 20px;
  text-align: center;
  text-decoration: solid;
  font-size: 13px;
}
.backhome a {
  color: var(--main_color);
  border-bottom: 1px solid var(--main_color);
}
.backhome_key {
  position: relative;
  display: inline-block;
  animation-name: bouncing_left;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes bouncing_left {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: -5px;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.white img {
  width: 80px;
  height: 50px;
}
.social i {
  font-size: 35px;
  padding-right: 20px;
  transition: 0.3s;
  color: rgb(155, 155, 155);
}
.social i:hover {
  color: var(--main_color);
}
